@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

body {
  font-family: $font-stack;
  color: #000;
}

.App {
  text-align: center;
  height: 100vh;
}

.navbar {
  margin-bottom: 0px;
}

@media only screen and (max-device-width: 480px) {
  .routineHeader {
    display: none;
  }

  .currentExercise {
    height: calc(100vh - 50px);

    .title {
      font-size: 50px;
    }

    .name {
      display: none;
    }

    p {
      color: white;
      font-size: 30px;

      b {
        font-weight: normal;
      }
    }

    .setCountdownTimer
      .desktop {
        display: none;
      }

      .mobile {
        font-size: 200px;
        letter-spacing: -35px;
        white-space: nowrap;
        margin-left: -40px;
      }
  }
}

.routine-outer-container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

.routine-inner-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.routine {
  width: 40%;
  height: 100px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px #c8d1d3;
  transition: all 0.2s ease;
}

.routine:hover {
  background-color: #6bd951; /* 29c75f */
  color: #fff;
}

.routine:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #fff;
  transform: translateY(4px);
}
