.exerciseBreadCrumb {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  justify-content: space-between;
}

.exerciseBreadCrumbItemContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.exerciseBreadCrumbItem {
  color: green;
}
